{% extends "admin/base_site.html" %}

{% block extrastyle %}
<!--<style>-->
<!--    @media (prefers-color-scheme: dark) {-->
<!--        :root {-->
<!--            &#45;&#45;primary: #79aec8;-->
<!--            &#45;&#45;primary-fg: #fff;-->

<!--            &#45;&#45;body-fg: #333;-->
<!--            &#45;&#45;body-bg: #fff;-->
<!--            &#45;&#45;body-quiet-color: #666;-->
<!--            &#45;&#45;body-loud-color: #000;-->

<!--            &#45;&#45;breadcrumbs-fg: #c4dce8;-->
<!--            &#45;&#45;breadcrumbs-bg: var(&#45;&#45;primary);-->

<!--            &#45;&#45;link-fg: #447e9b;-->
<!--            &#45;&#45;link-hover-color: #036;-->
<!--            &#45;&#45;link-selected-fg: #5b80b2;-->

<!--            &#45;&#45;hairline-color: #e8e8e8;-->
<!--            &#45;&#45;border-color: #ccc;-->

<!--            &#45;&#45;error-fg: #ba2121;-->

<!--            &#45;&#45;message-success-bg: #dfd;-->
<!--            &#45;&#45;message-warning-bg: #ffc;-->
<!--            &#45;&#45;message-error-bg: #ffefef;-->

<!--            &#45;&#45;darkened-bg: #f8f8f8; /* A bit darker than &#45;&#45;body-bg */-->
<!--            &#45;&#45;selected-bg: #e4e4e4; /* E.g. selected table cells */-->
<!--            &#45;&#45;selected-row: #ffc;-->

<!--            &#45;&#45;close-button-bg: #888; /* Previously #bbb, contrast 1.92 */-->
<!--            &#45;&#45;close-button-hover-bg: #747474;-->
<!--        }-->
<!--    }-->
<!--</style>-->
<link rel="icon" href="{{STATIC_URL}}/static/favicon.ico" sizes="48x48" />
{% endblock %}